---
title: Add Route
---
<div class="row bottom-split add-route-form">
  <div class="left-side">
    <div class="add-route">
      <div class="header">
        <h1>
          Adding a route
          <small class="text-muted">Step 1 of 3</small>
        </h1>
      </div>
      <div class="carousel slide">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="alert alert-warning">
              At the moment you can only add routes in 11 countries in South-East Asia: Vietnam, Cambodia, Laos, Myanmar, Thailand, Malaysia, Brunei, East Timor, Indonesia, Singapore, Philippines
            </div>
            {{> add-route-choose-location
            countryLabel="Choose country of origin"
            cityLabel="Choose city of origin"
            addressLabel="Point the departure address on the map"
            subAddressLabel="I don't know the exact departure address!"
            commentLabel="Describe the departure location please"
            }}
          </div>
          <div class="carousel-item">
            {{> add-route-choose-location
            countryLabel="Choose country of destination"
            cityLabel="Choose city of destination"
            addressLabel="Point the arrival address on the map"
            subAddressLabel="I don't know the exact arrival address!"
            commentLabel="Describe the arrival location please"
            }}
          </div>
          <div class="carousel-item">
            {{> add-route-details}}
          </div>
          <div class="carousel-item">
            {{> add-route-thanks}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
  </div>
</div>
