---
title: Add Route
---
<div class="row bottom-split">
  <div class="col-xs-6 left-side">
    <div class="add-route">
      <div class="back-button">
        <button class="btn btn-primary">&lt; Back</button>
      </div>

      <div class="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            one
          </div>
          <div class="carousel-item">
            two
          </div>
          <div class="carousel-item">
            three
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 right-side">
  </div>
</div>
