---
title: Add Route
---
<div class="row bottom-split">
  <div class="left-side">
    <div class="add-route">
      <div class="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="alert alert-warning">
              At the moment you can only add routes in 11 countries in South-East Asia: Vietnam, Cambodia, Laos, Myanmar, Thailand, Malaysia, Brunei, East Timor, Indonesia, Singapore, Philippines
            </div>
            <form>
              <div class="form-group">
                <label for="country">Choose country of origin</label>
                <select class="form-control" id="country">
                  <option disabled selected></option>
                  <option>Vietnam</option>
                  <option>Thailand</option>
                  <option>Cambodia</option>
                </select>
              </div>
              <div class="form-group">
                <label for="city">Choose city of origin</label>
                <input type="text" class="form-control" id="city" placeholder="Bangkok, Thailand">
              </div>
              <div class="form-group">
                <label for="address">Point the departure address on the map
                <small id="addressHelp" class="form-text text-muted">
                  or enter it in the field below
                </small>
                </label>

                <input type="text" class="form-control" id="address" placeholder="23 Sukhumvit Road, Bangkok, Thailand" aria-describedby="addressHelp">
                <div class="form-text">
                  <a href="#">I don't know the exact departure address!</a>
                </div>
              </div>
              <input type="hidden" id="coords" value="">
              <div class="form-group">
                <label for="comment">Describe the departure location please</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="In front of a Night Market; Near the police station; By the Buddha statue"></textarea>
                <div class="form-text">
                  <a href="#">Let me try to search for an address again!</a>
                </div>
              </div>
              <button class="btn btn-primary float-xs-left">&lt; Back</button>
              <button class="btn btn-primary float-xs-right">Next &gt;</button>
            </form>
          </div>
          <div class="carousel-item">
            <form>
              <div class="form-group">
                <label for="country">Choose country of destination</label>
                <select class="form-control" id="country">
                  <option disabled selected></option>
                  <option>Vietnam</option>
                  <option>Thailand</option>
                  <option>Cambodia</option>
                </select>
              </div>
              <div class="form-group">
                <label for="city">Choose city of destination</label>
                <input type="text" class="form-control" id="city" placeholder="Bangkok, Thailand">
              </div>
              <div class="form-group">
                <label for="address">Point the arrival address on the map
                <small id="addressHelp" class="form-text text-muted">
                  or enter it in the field below
                </small>
                </label>

                <input type="text" class="form-control" id="address" placeholder="23 Sukhumvit Road, Bangkok, Thailand" aria-describedby="addressHelp">
                <div class="form-text">
                  <a href="#">I don't know the exact arrival address!</a>
                </div>
              </div>
              <input type="hidden" id="coords" value="">
              <div class="form-group">
                <label for="comment">Describe the arrival location please</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="In front of a Night Market; Near the police station; By the Buddha statue"></textarea>
                <div class="form-text">
                  <a href="#">Let me try to search for an address again!</a>
                </div>
              </div>
              <button class="btn btn-primary float-xs-left">&lt; Back</button>
              <button class="btn btn-primary float-xs-right">Next &gt;</button>
            </form>
          </div>
          <div class="carousel-item">
            three
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
  </div>
</div>
