---
title: Welcome - Logged In
errors: true
---
<div class="row welcome">
  <div class="col-xs-7 message">
    {{> welcome_message}}
  </div>

  <div class="col-xs-5 register-container">
    <h2>Hello, username!</h2>
    <p>Proceed to <a href="search.html">search</a><br>
    or <a href="add-route.html">add a route</a></p>
  </div>
</div>

