---
title: Itinerary list
---
{{> mini-search-form}}
<div class="row bottom-single">
  <div class="single-column">
    <div class="direct-switch">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Show direct options only</span>
      </label>
    </div>
    <div class="itineraries-list">
      {{#each itineraries as |itinerary|}}
        {{> itinerary-short itinerary=itinerary}}
      {{/each}}
    </div>
  </div>
  <div class="body-shadow hidden">
  </div>
  <div class="bottom-single-overlay hidden">
    <div class="details-slider hidden" id="itinerary-details">
      {{> itinerary-details itinerary=itineraries.[3] routes=routes}}
    </div>
    <div class="details-slider hidden" id="route-details">
      {{> route-details route=routes.[1]}}
    </div>
  </div>
</div>
