---
title: Itinerary list
---
{{> mini-search-form}}
<div class="row bottom-split">
  <div class="col-xs-4 left-side">
    {{#each itineraries as |itinerary|}}
      {{> itinerary-short itinerary=itinerary}}
    {{/each}}
  </div>
  <div class="col-xs-8 right-side">
  </div>
  <div class="col-xs-4 details-slider" id="itinerary-details">
    {{> itinerary-details itinerary=itineraries.[3] routes=routes}}
  </div>
  <div class="col-xs-4 details-slider hidden" id="route-details">
    {{> route-details}}
  </div>
</div>
