---
title: Search
---
<div class="row search">
  <div class="col-xs-12">
    <div class="form-container">
      <h1>Get from point A to point B</h1>
      <p class="lead">Search thousands of ways to get from one city to another. Just enter origin and destination and click search:</p>
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="from">From City</label>
          <input type="text" class="form-control form-control-lg" id="from" placeholder="From City">
        </div>
        <div class="form-group">
          <label class="sr-only" for="to">To City</label>
          <input type="text" class="form-control form-control-lg" id="to" placeholder="To City">
        </div>
      </form>
      <button type="submit" class="btn btn-lg btn-secondary">Search</button>
      <p class="lead">or share what you know about the different ways to travel around the world:</p>
      <button class="btn btn-lg btn-secondary">Add a Route</button>
    </div>
  </div>
</div>
