---
title: Search
---
<div class="row search">
  <div class="col-xs-12">
    <div class="form-container">
      <h1>Get from point A to point B</h1>
      <p class="lead">
        Search thousands of ways to get from one city to another. Just enter origin and destination and click search:
        <br>
        <small>(only available in Cambodia at the moment)</small>
      </p>
      <div class="form-wrapper">
        <form class="form-inline">
          <div class="form-group first">
            <label class="sr-only" for="from-wrapper">From City</label>
            <div class="autocomplete-field">
              <div class="input-wrapper">
                <input type="text" class="form-control" id="from-wrapper" placeholder="From City">
                <div class="input-button">&times;</div>
              </div>
              <div class="suggestions" style="display: none;">
                <ul>
                  <li class="loader">
                    <a>
                      <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                      </div>
                    </a>
                  </li>
                  <li><a href="#!">TTest CityTest CityTest CityTest CityTest Cityest City</a></li>
                  <li><a href="#!">Test City</a></li>
                  <li><a href="#!">Test City</a></li>
                  <li class="disabled"><a href="#!">Test City</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="to-wrapper">To City</label>
            <input type="text" class="form-control" id="to-wrapper" placeholder="To City">
          </div>
          <br>
          <button disabled type="submit" class="btn btn-secondary">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </button>
        </form>
      </div>
      <p class="lead">or share what you know about the different ways to travel around the world:</p>
      <button class="btn btn-lg btn-secondary">Add a Route</button>
    </div>
  </div>
</div>
