---
title: Welcome
---
<div class="row welcome">
  <div class="col-xs-7 message">
    <h1>Greetings, our pioneer user!</h1>

    <p>You are here because you love to travel around South East Asia, Middle Asia, South America, Africa or Oceania. But you often face the common problem of not having enough info on how to get from point A to point B. Right?</p>

    <p>In that case, we are glad to solve your problem by presenting you the beta version of our platform.<br />
    With our service finding the best route is a matter of a couple of minutes.</p>

    <p>See for yourself! Take 10 seconds to create a profile and discover many routes around Cambodia available on the service at this moment. But to take it a step farther, we need your help. There are two ways you can make a difference in the travel community:</p>

    <p>Share what you know about the different ways to travel around the SEA countries – just fill in the simple form and add the routes you are aware of. Share your feedback about the service with us - let us know what you like/don’t like and what could make your experience here better. We will make it happen.</p>

    <p>Share the world!<br />
    a2b team</p>

  </div>

  <div class="col-xs-5 register-container">
    <div class="register">
      <h2>Log in to get started</h2>
      <div class="social">
        <img src="{{assets}}/img/login-with-facebook.png" alt="Login with facebook">
      </div>
      <div class="form">
        <h2>or sign up using email</h2>
        <form>
          <div class="form-group">
            <label class="sr-only" for="email">Email address</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Enter password">
          </div>
          <div class="form-group">
            <label class="sr-only" for="confirm-password">Confirm password</label>
            <input type="text" class="form-control" id="password" placeholder="Confirm password">
          </div>
          <button type="submit" class="btn btn-secondary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>

