<div>
  <div class="form-group">
    <label for="address">{{addressLabel}}
      <span class="required">*</span>
      <small id="addressHelp" class="form-text text-muted">
        or enter it in the field below
      </small>
    </label>

    <input type="text" class="form-control" id="address" placeholder="23 Sukhumvit Road, Bangkok, Thailand" aria-describedby="addressHelp">
  </div>
  <input type="hidden" id="coords" value="">
</div>
