<div class="alert alert-success text-xs-center">
  <h1>Thanks!</h1>
  The route has been sent to moderation. We will let you know when we add it to our database.
</div>
<p class="text-xs-center"><a href="">Add another one</a></p>
<div class="alert alert-danger text-xs-center">
  <h1>Oops!</h1>
  An error occured while saving your route. Please contact our support to find out the details.
</div>
