<div class="contacts-modal modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Looks like you enjoy our beautiful website! Please leave us your contacts so we can keep you up-to-date with new features.
        <br>We promise not to bother you more than once a month.
        </p>
        <div class="social">
          <img src="{{assets}}/images/login-with-facebook.png" alt="Login with facebook">
        </div>
        <p>or just leave us your email</p>
        <form class="form-inline">
          <div class="form-group">
            <label class='sr-only' for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <button class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
