<div class="itinerary">
  <div class="row">
    <div class="col-xs-8 company-name">{{title}}</div>
    <div class="col-xs-4 price">$10</div>
  </div>
  <div class="row">
    <div class="col-xs-8 transport">bus+ferry</div>
    <div class="col-xs-4 duration">1h25m</div>
  </div>
  <div class="row">
    <div class="col-xs-12 stops">direct</div>
  </div>
</div>
