<div class="itinerary-summary">
  <div class="close-button">&times;</div>
  {{> itinerary-short itinerary=itinerary}}
</div>
<div class="route-list">
  {{#each routes as |route index|}}
    <div class="route-item
     {{#if route.highlighted}}
      highlighted
    {{/if}}
      ">

      <div class="path">
        <span>&nbsp;</span>
      </div>
      <div class="route-container">
        {{> route-short route=route}}
      </div>
    </div>
  {{/each}}
</div>
