<div class="row mini-search">
  <div class="col-xs-12">
    <div class="form-container">
        <form class="form-inline">
          <div class="form-group first">
            <label class="sr-only" for="from">From City</label>
            <div class="autocomplete-field">
              <div class="input-wrapper">
                <input type="text" class="form-control" id="from" placeholder="From City">
                <div class="input-button">&times;</div>
              </div>
              <div class="suggestions">
                <ul>
                  <li><a href="#!">TTest CityTest CityTest CityTest CityTest Cityest City</a></li>
                  <li><a href="#!">Test City</a></li>
                  <li><a href="#!">Test City</a></li>
                  <li class="disabled"><a href="#!">Test City</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="to">To City</label>
            <div class="autocomplete-field">
              <div class="input-wrapper">
                <input type="text" class="form-control" id="to" placeholder="To City">
                <div class="input-button">&times;</div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>
  </div>
</div>
