<nav class="navbar navbar-full">
  <a class="navbar-brand" href="/welcome.html">
    <img src="assets/images/a2b-logo-min.png" alt="A2B Logo">
  </a>
  <div class="nav navbar-nav float-xs-right">
    <a class="nav-item nav-link active" href="/welcome.html">Welcome <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="/search.html">Search</a>
    <a class="nav-item nav-link" href="/login.html">Login</a>
  </div>
</nav>
