<nav class="navbar navbar-full">
  <a class="navbar-brand" href="#">Logo</a>
  <div class="nav navbar-nav float-xs-right">
    <a class="nav-item nav-link active" href="#">Welcome <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#">Search</a>
    <a class="nav-item nav-link" href="#">Login</a>
  </div>
</nav>
