.row.bottom-split.add-route-form {
  top: 4rem;
}
.add-route {
  $pad: 1rem;
  .back-button {
    padding: $pad $pad 0 $pad;
  }
  .carousel-item {
    padding: $pad;

    label .form-text {
      margin: 0;
    }
  }
}
