.autocomplete-field {
  position: relative;
  .suggestions {
    border-radius: .1rem;
    position: absolute;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        text-align: left;
        padding: .5rem 1rem;
        cursor: pointer;
        &:hover {
          background-color: rgba(#000, 0.1);
        }
      }
    }

    li.disabled {
      cursor: default;
      &:hover {
        background-color: #fff;
      }
      a {
        color: rgba(#000, .36);
        cursor: default;
      }
    }

    a {
      text-decoration: none;
      text-shadow: none;
      font-weight: 400;
      line-height: 1.25;
      color: #55595c;
      font-size: 1.25rem;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
