.bottom-split {
  background-color: $light-bg;
  color: #000;

  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 7rem;
  bottom: 0;

  .left-side, .right-side {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
  }
  .left-side {
    left: 0;
    z-index: 2;
    box-shadow: $shadow;
    overflow: auto;

    a,
    a:focus,
    a:hover {
      color: $selected-color;
      text-decoration: underline;
    }
  }
  .right-side {
    right: 0;
    background-image: url("#{$images}/map.png");
  }

}
