$shadow: 4px 0 4px rgba(64,63,63,.4);
.bottom-split {
  background-color: $light-bg;
  color: #000;

  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 7rem;
  bottom: 0;

  .left-side, .right-side {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
  }
  .left-side {
    left: 0;
    z-index: 2;
    box-shadow: $shadow;
  }
  .right-side {
    right: 0;
    background-image: url("#{$images}/map.png");
  }

  $left-side-size: 4;
  .details-slider {
    @extend .left-side;
    background-color: $light-bg;
    -webkit-transition: left .5s; /* Safari */
    transition: left .5s;
    z-index: 3;
    box-shadow: $shadow;
  }
  .details-slider.hidden {
    left: (100% / 12 * $left-side-size * -1) - 10;
  }
}
