.itinerary-short {
  padding: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .price, .duration {
    @extend .text-xs-right;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.3rem;
    max-height: 2.6rem;
    overflow: hidden;
  }

  .price {
    color: $higllighted_color;
    font-weight: 600;
  }

  .info {
    color: $muted-color;

    div {
      overflow: hidden;
      white-space: nowrap;
    }

    .transport, .stops {
      text-overflow: ellipsis;
      max-width: 50%;
      float: left;
    }

    .stops {
      padding-left: .5rem;
    }
  }
}
.itinerary-short.highlighted {
  background-color: rgba(44,155,186,0.1);
}
