.route-list {

}

.route-short {
  padding: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .price, .duration {
    @extend .text-xs-right;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.3rem;
    max-height: 2.6rem;
    overflow: hidden;
  }

  .price {
    color: $selected-color;
    font-weight: 600;
  }

  .cities {
    color: $muted-color;
  }

  .info {
    color: $muted-color;

    div {
      overflow: hidden;
      white-space: nowrap;
    }

    .transport {
      text-overflow: ellipsis;
    }
  }
}
.route-short.highlighted {
  background-color: $highlighted-bg;
}
