.welcome {
  @extend .text-xs-center;

  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;

  // Message alignment
  .message {
    border-right: .25em white solid;
    padding-right: 2.25em;
  }

  // Register form alignment
  .register-container {
    padding-left: 2.25em;
  }
}

.welcome, .login {
  @extend .text-xs-center;

  // Font styles
  font-size: 1.1rem;
  font-weight: 300;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);

  // Login and register fonts
  .login-form {
    max-width: 18em;
    padding-top: .4em;

    .social {
      margin-bottom: 2em;
      margin-top: 0.7em;

      img {
        max-height: 2.7em;
      }
    }

    .form {
      margin-bottom: 2em;

      input {
        max-width: 20em;
        margin: 0 auto;
      }
    }
  }
}
