.welcome {
  @extend .centered;
  max-width: 1200px;
  padding-top: 5%;

  // Message alignment
  .message {
    border-right: .25em white solid;
    padding-right: 2.25em;
  }

  // Register form alignment
  .register-container {
    padding-left: 2.25em;
    padding-top: .4em;
  }
}

.welcome, .login {
  @extend .text-xs-center;
  @extend .text-shadow;

  // Login and register fonts
  .login-form {
    max-width: 18em;

    .social {
      margin-bottom: 2em;
      margin-top: 0.7em;

      img {
        max-height: 2.7em;
      }
    }

    .form {
      margin-bottom: 2em;

      input {
        max-width: 20em;
        margin: 0 auto;
      }
    }
  }
}
