$bg-color: #333;
$list-color: #fff;

/*
 * Affix and center
 */

@media (min-width: 40em) {
  .route-form-container{
    width: 100%;
  }
}

@media (min-width: 62em) {
  .route-form-container {
    width: 46rem;
  }
}
