$bg-color: #333;
$list-color: #fff;

nav.bg-inverse {
  background-color: $bg-color !important;
}

.itineraries-map {
  background-color: $list-color;
  background-image: url(../img/map.png);
  height:100%;
}
.itineraries-map-container {
  position: absolute;
  right: 0;
  top: 7em;
  bottom: 0;
  padding: 0;
}
.itineraries-list-container {
  background-color: #fff;
  padding: 0;
  position: absolute;
  top: 7em;
  bottom: 0;
  left: 0;
  overflow: auto;
}
.itinerary {
  margin: 0;
  border-radius: 0;
  border-top-width: 0;
  color: #000;
  cursor: pointer;
}
.itinerary:hover {
  background-color: #eee;
}
